/venv

.DS_STORE

/baseline/models

/deepm/venv/
/deepm/models/
/deepm/data/
/deepm/sets/

/dataprep/plots
/dataprep/data
/dataprep/generated

/pgnn/plots
/pgnn/models
/pgnn/results
/pgnn/inference_results
/pgnn/runs
/pgnn/datasets
/pgnn/*.txt
/pgnn/*.out
/pgnn/*.png
/pgnn/*.xlsx
/pgnn/.ipynb_checkpoints

/nora_demo/data

**/.idea
**/node_modules